@model EncryptDecryptInMvc.Models.EModel
@{
    ViewBag.Title = "Code for Encrypt and Decrypt the Text in Web API";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <h2>
        Encrypt and Decrypt Text
    </h2>
    @Html.TextBoxFor(p => p.word, new { @style = "width:200px" })
    <div>
        @Html.RadioButton("type", 1, true)EncryptText
        <br>@Html.RadioButton("type", 2, false)DecryptText
    </div>
    <div>
        <b>Output</b> :@ViewBag.Result
    </div>
    <input type="submit" value="submit" />

} 